/* Estilos generales de la sección */
.mensaje {
    padding: 20px;
    background-color: #00506a ;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mensaje__lista {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mensaje__item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mensaje__item__titulo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0 0 5px 15px;
}

.mensaje__item__texto {
    padding: 1rem;
    font-size: 1rem;
    color: #666;
    margin: 0;
}

.mensaje__logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

/*------------------------------------------------------*/

.nosotros{
    background-color: #00506a;
    display: flex;
}
.nosotros__conteiner{
    display: flex;
}
.nosotros__contenido{
    padding: 3rem;
}
.nosotros__titulo{
    color: antiquewhite;
    text-transform: uppercase;
    font-family: 'Monserrat',sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}
.nosotros__texto{
    font-family: 'Monserrat',sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}
.nosotros__imagen{
    width: 300px;
    height: auto;
    max-width: 100%;
    margin-left: auto;
}

@media (max-width: 600px) {
    .mensaje{
        flex-direction: column;
        align-items: center;
    }
    .nosotros{
        flex-direction: column;
        align-items: center;
    }
    .nosotros__imagen{
        width: auto;
        height: auto;
    }
}
/*#00506a*/