.headerPrincipal-nav{
    display: flex;
    justify-content: flex-end;
    
}
.headerPrincipal-nav-link{
    justify-content: center;
    
}
.contenidoPrincipal{
    align-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.contenidoPrincipal-productos{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    gap: 10px; 
    padding: 0;
    list-style: none; 
}


.containermain2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 0;
    
}
.containerFoter{
    display: flex;
    flex-direction: row;
}
.rodapePrincipal-patrocinadores-list{
    flex-direction: row;
    justify-content: space-around;
}
